.layer {
    height: 40px;
    background-color: bisque;
    position: relative;
    display: flex;
    margin: 0px 0px 2% 0px;
}

#taken {
    box-shadow: 2px 2px 2px gray;
    /* visibility: hidden; */
}